/* Genel Ayarlar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Header (Başlık) */
header {
    background-color: #2980b9; /* Mavi renk */
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

/* Navigasyon Menüsü */
.navbar {
    background-color: #34495e; /* Koyu gri */
    text-align: center;
    padding: 10px 0;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px;
}

.navbar a:hover {
    background-color: #1abc9c; /* Hoverda yeşil */
}

/* Ana İçerik */
.main-content {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    color: #2980b9; /* Başlık mavi */
}

.main-content p {
    line-height: 1.6;
}

/* Giriş Formu */
form#bilmece-form {
    background-color: #e0e0e0;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto 0; /* Ana içerikten biraz ayrıldı ve ortalandı */
    border-radius: 8px;
}

form#bilmece-form input[type="text"] {
    width: calc(100% - 22px); /* İç boşluklar hesaba katıldı */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form#bilmece-form input[type="submit"] {
    background-color: #2980b9;
    color: white;
    cursor: pointer;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
}

button#yeni-soru {
    background-color: #3498db; /* Farklı bir mavi tonu */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

button#yeni-soru:hover {
    background-color: #1abc9c; /* Hoverda yeşil */
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #34495e;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        padding: 15px;
        margin: 5px 0;
    }

    .main-content {
        margin: 10px;
        padding: 15px;
    }

    header h1 {
        font-size: 30px;
    }

    form#bilmece-form {
        max-width: 95%;
    }
}